.App {
  // border: solid red;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 61.44px;
}

// reset - Removes default behavior
body,p,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

// NAV //
.top-nav {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  border: 1px solid lightgray;
  background: #ffffff;

  ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  li {
    align-items: center;
    color: black;
    padding: 10px 10px;
    opacity: 0.7;
  }
  
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  position: fixed;
  bottom: 0;
  border: 1px solid lightgray;
  background: #ffffff;

  ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  li {
    align-items: center;
    color: black;
    padding: 10px 10px;
    opacity: 0.7;
  }
}

// POST

.post {
  border: 1px solid lightgrey;
  margin-bottom: 3px;
  
  p {
    padding-left: 5px;
  }
  
  :last-child {
    margin-bottom: 40px;
  }
}

// USER PROFILE

.user-info-and-stats {

  #profile-picture {
    border-radius: 50%;
  }
}

.image-upload-btn {
    padding: 5px;
    border: 1px solid lightgrey;
    width: 50px;
  }

  // SIGNUP FORM

  .signup-form {
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-between;
    padding: 0 15px;

    div {
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      
      p {
        color: red;
      }
    }

    input {
      width: calc(100% - 10px);
      border-radius: 5px;
      padding: 5px;
      border: 1px solid black;
      box-shadow: 0 0 4px rgba(20 ,20, 20, 0.5);
    }
  }