.App {
  // border: solid red;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 61.44px;
}

// reset - Removes default behavior
body,p,a,ul,li{
  // font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

// NAV //
.top-nav {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  border: 1px solid lightgray;
  background: #ffffff;

  ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  li {
    align-items: center;
    color: black;
    padding: 10px 10px;
    opacity: 0.7;
  }
  
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  position: fixed;
  bottom: 0;
  border: 1px solid lightgray;
  background: #ffffff;

  ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  li {
    align-items: center;
    color: black;
    padding: 10px 10px;
    opacity: 0.7;
  }
}

// POST

.post {
  border: 1px solid lightgrey;
  margin-bottom: 3px;
  
  p {
    padding-left: 5px;
  }
  
  :last-child {
    margin-bottom: 40px;
  }
}

// USER PROFILE

.user-info-and-stats {

  #profile-picture {
    border-radius: 50%;
  }
}

.image-upload-btn {
    padding: 5px;
    border: 1px solid lightgrey;
    width: 50px;
  }

  // SIGNUP FORM

  .sign-in-up-intro {
    font-family: 'Roboto', sans-serif;
    padding: 0 15px;
    margin: 0 10px 15px;

    h3 {
      text-align: center;
    }
  }

  .signup-form {
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-between;
    padding: 0 20px;

    div {
      margin:10px 0 0 0 ;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      
      p {
        color: red;
        font-size: 0.9rem;
        display: block;
        padding: 6px 0 0;
      }

      input {
        margin-top: 5px;
        font-size: 0.9rem;
        box-sizing: border-box;
        display: block;
        
        padding: 6px 0;
        border: none;
        border-bottom: 1px solid lightgrey;

        &:focus{
          border-bottom: 1px solid grey;
          outline: none
        }
      }
    }
  }

  .signin-form {
    display: flex;
    flex-direction: column;
    // height: 40vh;
    justify-content: space-between;
    padding: 0 20px;

    div {
      margin:10px 0 0 0 ;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      p {
        color: red;
        font-size: 0.9rem;
        display: block;
        padding: 6px 0 0;
      }

      input {
        margin-top: 5px;
        font-size: 0.9rem;
        box-sizing: border-box;
        display: block;
        
        padding: 6px 0;
        border: none;
        border-bottom: 1px solid lightgrey;

        &:focus{
          border-bottom: 1px solid grey;
          outline: none
        }
      }
    }
  }

  .error-signin {
    color: red;
    text-align: center;
    font-weight: bolder;
  }
  
