:root {
  --myRed: red ;
  --backgroundBlack: black;
  --powerBlue: #02a5e0;
}

.App {
  // border: solid red;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 61.44px;
}

// reset - Removes default behavior
body,p,a,ul,li{
  // font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

// NAV //
.top-nav {
  height: 43px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  border: 1px solid lightgray;
  background: #ffffff;

  ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  li {
    align-items: center;
    color: black;
    padding: 11.9px 10px;
    opacity: 0.7;
  }

  .sign-out {
    display:flex; 
    flex-direction: column;
    padding: 3px 10px 3px ;

    span {
      font-size: 0.5em;
    }
  }
  
}

.bottom-nav {
  height: 43px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  position: fixed;
  bottom: 0;
  border: 1px solid lightgray;
  background: #ffffff;

  ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0 10px;
  }

  li {
    display: flex;  
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 3px 10px 2px;
    opacity: 0.7;
    
    span {
      font-size: 0.5em;
    }
  }

  .is-active {
    span {
      color: var(--myRed);
      // font-weight: bold;
    }
    svg {
      fill: var(--myRed);
    }
    li {
    }

  }
}

// POST

.post {
  border: 1px solid lightgrey;
  margin-bottom: 3px;
  
  p {
    padding-left: 5px;
  }

  .post-icons {
    display: flex;
  }

  img {
    max-width: 100%;
  }
  
  // :last-child {
  //   margin-bottom: 40px;
  // }
}

// USER PROFILE

.user-info-and-stats {

  #profile-picture {
    border-radius: 50%;
  }

  h2 {
    text-align: center;
    margin: 0;
  }
}

.image-upload-btn {
  padding: 5px;
  border: 1px solid lightgrey;
  width: 50px;
}

  // SIGNUP FORM

  .sign-in-up-intro {
    font-family: 'Roboto', sans-serif;
    padding: 0 15px;
    margin: 0 10px 15px;

    h3 {
      text-align: center;
    }
  }

  .signup-form {
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-between;
    padding: 0 20px;

    div {
      margin:10px 0 0 0 ;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      
      p {
        color: red;
        font-size: 0.9rem;
        display: block;
        padding: 6px 0 0;
      }

      input {
        margin-top: 5px;
        font-size: 0.9rem;
        box-sizing: border-box;
        display: block;
        
        padding: 6px 0;
        border: none;
        border-bottom: 1px solid lightgrey;

        &:focus{
          border-bottom: 1px solid grey;
          outline: none
        }
      }
    }
  }

  .signin-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;

    div {
      margin:10px 0 0 0 ;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      p {
        color: red;
        font-size: 0.9rem;
        display: block;
        padding: 6px 0 0;
      }

      input {
        margin-top: 5px;
        font-size: 0.9rem;
        box-sizing: border-box;
        display: block;
        
        padding: 6px 0;
        border: none;
        border-bottom: 1px solid lightgrey;

        &:focus{
          border-bottom: 1px solid grey;
          outline: none
        }
      }
    }
  }

  .error-signin {
    color: red;
   
  }
  
  .signup-failed  {
    color: red !important;
    font-weight: bold;
    text-align: center;
    font-weight: bolder;
    padding: 0 20px;
  }

  .signup-created  {
    color: green !important;
    font-weight: bold;
    text-align: center;
    font-weight: bolder;
    padding: 0 20px;
  }


  .edit-user-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;

    .change-img {
      text-align: center;
    }

    div {
      margin:10px 0 0 0 ;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      p {
        font-size: 0.9rem;
        display: block;
        padding: 6px 0 0;
      }

      input {
        margin-top: 5px;
        font-size: 0.9rem;
        box-sizing: border-box;
        display: block;
        
        padding: 6px 0;
        border: none;
        border-bottom: 1px solid lightgrey;

        &:focus{
          border-bottom: 1px solid grey;
          outline: none
        }
      }
    }
  }
  
.red {
  color: red;
}

//EDIT PROFILE

.button-grid-container {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  
  @media (min-width: 768px) {
    .button-grid-container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .button-grid-container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .button-grid-container {
      width: 1170px;
    }
  }

  .anchor-img {
    position: relative;

    .profile-pic {
      background-image: url("https://kitt.lewagon.com/placeholder/users/FreddieWarren") ;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; 
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: none;
      box-shadow: inset 0 0 0px 1px black;
      position: absolute;
      bottom: 0; 
      left: 0;
      right: 0;
      margin-bottom: -55px;
      margin-left: auto;
      margin-right: auto;
      z-index: 998;
    }

    .img-overlay {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(0,0,0,0.4) ;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: none;
      position: absolute;
      bottom: 0; 
      left: 0;
      right: 0;
      margin-bottom: -55px;
      margin-left: auto;
      margin-right: auto;
      z-index: 999;
      div {
        margin-top: 62px;
        text-shadow: 1px 1px 1px #000000;
        svg {
          font-size: 0.8em;
        }
      }
    }
    
    .circle-white {
      color: white;
      font-size: 0.8em;
      background: white;
      border-radius: 50%;
      position: absolute;
      height:112px;
      width: 112px;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -60.5px;
      z-index: 997;
    }
  }

  .top-grid {
    display: flex;
    margin-bottom:  10px;
    height: 80px;
  }

  .bottom-grid {
    margin-top: 10px;
    height: 80px;
    display: flex;
  }

  .item1 {
    border: 1px solid black;
    margin-right: 5px;
    text-align: start;
    border-radius: 20px 0 0 0;
  }

  .item2 {
    margin-left: 5px;
    border: 1px solid black;
    text-align: end;
    border-radius: 0 20px 0 0;
  }

  .item3 {
    border: 1px solid black;
    margin-right: 5px;
    text-align: start;
    border-radius: 0 0 0 20px;
  }

  .item4 {
    margin-left: 5px;
    border: 1px solid black;
    text-align: end;
    border-radius: 0 0 20px 0;
  }

  .grid-item {
    font-weight: bold;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(235, 235, 235, 0.6);
    width: 50%;
    text-align: center;
    color: var(--powerBlue);

    .grid1-circle {
      position: absolute;
      background: white;
      border: 1px solid black;
      height:110px;
      width: 110px;
      border-radius: 50%;
      right: -61px;    
      bottom: -61px;
    }

    .grid2-circle {
      position: absolute;
      background: white;
      border: 1px solid black;
      height:110px;
      width: 110px;
      border-radius: 50%;
      left: -61px;    
      bottom: -61px;
    }

    .grid3-circle {
      position: absolute;
      background: white;
      border: 1px solid black;
      height:110px;
      width: 110px;
      border-radius: 50%;
      right: -61px;    
      top: -61px;
    }

    .grid4-circle {
      position: absolute;
      background: white;
      border: 1px solid black;
      height:110px;
      width: 110px;
      border-radius: 50%;
      left: -61px;    
      top: -61px;
    }

    .item-text {
      text-shadow: 1px 1px 1px #000000;
      font-size: 0.8em;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: min-content;
      div {
        width: fit-content;
      }
    }
  }





  // .item1{
  //   margin-right: 5px;
  // }
}

// .button-grid-container {
//   padding:10px;
//   margin: 0 auto;
//   width: 90%;
//   display: grid;
//   grid-template-columns: 47% 47%;
//   row-gap: 12%;
//   column-gap: 6%;
//   grid-template-rows: 44% 44%;


//   .profile-pic {
//     background-image: url("https://kitt.lewagon.com/placeholder/users/FreddieWarren") ;
//     background-position: center; /* Center the image */
//     background-repeat: no-repeat; /* Do not repeat the image */
//     background-size: cover; /* Resize the background image to cover the entire container */
//     height: 80px;
//     width: 80px;
//     z-index: 999;
//     position: absolute;
//     border: 2px solid white;
//     border-radius: 50%;
//     margin-left: -44px;
//     margin-top: -44px;
//     left: 50%;
//     // right: 0;
//     top: 50%;
//     filter: drop-shadow(0 0 0.75rem black);
    
//   }

//   .grid-item {
//     box-shadow: 0 0 4px 0px grey;
//     background-color: var(--powerBlue);
//     padding: 20px 20px;
//     font-size: 30px;
//     text-align: center;
//     // border: 1px solid rgba(0, 0, 0, 0.8);
//   }
//   .grid-item1 {
//     border-radius: 10px 0px 0px 0px ;
//   }
//   .grid-item2 {
//     border-radius: 0px 10px 0px 0px ;
//   }
//   .grid-item3 {
//     border-radius: 0px 0px 0px 10px ;
//   }
//   .grid-item4 {
//     border-radius: 0px 0px 10px 0px ;
//   }

  

//   .button-text {
//     display: flex;
//     flex-direction: column;
//     font-size: 0.4em;
//   }

//   .edit-span1 {
//     text-align: start;
//   }

//   .edit-span2 {
//     text-align: start;
//   }
// }